<MBottomNavigation
    @bind-Value="value"
    BackgroundColor="@color"
    Dark
    Shift>
    <MButton>
        <span>Video</span>

        <MIcon>mdi-television-play</MIcon>
    </MButton>

    <MButton>
        <span>Music</span>

        <MIcon>mdi-music-note</MIcon>
    </MButton>

    <MButton>
        <span>Book</span>

        <MIcon>mdi-book</MIcon>
    </MButton>

    <MButton>
        <span>Image</span>

        <MIcon>mdi-image</MIcon>
    </MButton>
</MBottomNavigation>

@code {

    StringNumberOrMore value = 1;

    string color
    {
        get
        {
            if (value.AsInt == 0) return "blue-grey";
            if (value.AsInt == 1) return "teal";
            if (value.AsInt == 2) return "brown";
            if (value.AsInt == 3) return "indigo";
            return "blue-grey";
        }
    }

}
