@namespace Masa.Docs.Shared.Components

@inject IJSRuntime Js
@inject I18n I18n

@if (MasaBlazor?.Breakpoint.SmAndUp is true)
{
    <div id="docsearch" style="max-width: 340px" class="mr-6 @Class"></div>
}
else
{
    <div id="docsearch-mobile" class=" @Class"></div>
}

@code {

    [Inject]
    public MasaBlazor? MasaBlazor { get; set; }

    [CascadingParameter(Name = "project")]
    public string? Project { get; set; }

    [CascadingParameter(Name = "Env")]
    public string? Env { get; set; } = null!;

    [Parameter]
    public string Class { get; set; } = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await Task.Delay(300);
            await InitDocSearchAsync().ConfigureAwait(false);
        }
    }

    public async ValueTask InitDocSearchAsync()
    {
        if (Project is null) return;
        var currentLanguage = I18n!.Culture.TwoLetterISOLanguageName;
        var indexName = Env + I18n.Culture.TwoLetterISOLanguageName + "_" + Project;
        await Js.InvokeVoidAsync("addDocSearch", indexName, MasaBlazor?.Breakpoint.SmAndUp is not true, currentLanguage, I18n.T("Search"));
    }
}